<% if user_signed_in? %>
  <h1>Bienvenido</h1>
  <p>Para comenzar, utilice las funciones del <code>menu superior</code>.</p>

<% else %>
  <h4>Lexito</h4>
  <p>Sistema simple de control de expedientes<p/>

<% end %>
