<% content_for :title do %>Acerca de<% end %>
<h3>Lexito</h3>
<p>
Esta aplicación web ha sido creada por <%= link_to 'Sergio A. Alonso', 'http://about.me/elbunker' %> mediante 
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %> de el <%= link_to('Proyecto RailsApps', 'http://railsapps.github.io/') %>
</p>
